" find all webstorm actions :actionlist
" action MoveEditorToOppositeTabGroup
map <leader>o :action MoveEditorToOppositeTabGroup<CR>
" command! test <Action>(ActivateHierarchyToolWindow)
command! Blame action Annotate
command! Run action Run
command! Stop action Stop
command! Debug action Debug
command! PR action com.github.shiraji.findpullrequest.action.FindPullRequestAction

Plug 'preservim/nerdtree`
map <leader>t :NERDTree<CR>
